apiVersion: 1

datasources:
  - name: MariaDB
    type: mysql
    access: proxy
    url: mariadb:3306
    user: ${SQL_USER}
    database: ${SQL_DATABASE}
    secureJsonData:
      password: ${SQL_PASSWORD}
    jsonData:
      sslmode: "disable"
